models/*
!models
processed_data/*
!processed_data/wuxia_selected_100000
logs
wuxia_corpus/data/gu/segmented/*
wuxia_corpus/data/awe/segmented/*
wuxia_corpus/data/condor/segmented/*
wuxia_corpus/data/issth

corpus/aligners/
src/NMT/configs/__pycache__
.env
results/cualitativa/.env
src/NMT/utils/__pycache__