models
processed_data
logs
corpus/data/gu/segmented/*
corpus/data/awe/segmented/*
corpus/data/condor/segmented/*
corpus/data/issth

corpus/aligners/
src/NMT/configs/__pycache__
figures
hugging_face.txt